.hero {
    background-color: #457b9d;
    color: whitesmoke;
}

.pad {
    padding: 5em;
    margin: 0em 1em;
    border-radius: 10px;
}

.border{
    margin:0em 3em;
}

@media screen and (max-width: 600px) {
    .hero{
        padding: 0px;
        margin: 0px;
    }

    .pad {
        padding: 2em;
        margin: 0px;
    }
  }